<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xj.iws.http.dao.DataDao">

    <sql id="field">deviceid,port,number,time,error,bit,count,data</sql>

    <insert id="addAll" >
        INSERT INTO `${tableName}` (<include refid="field" />) VALUES
        <foreach collection="datas" item="data" separator=",">
            (${data.deviceId},'${data.port}','${data.number}','${data.strTime}','${data.error}',${data.bit},${data.count},'${data.data}')
        </foreach>
    </insert>

</mapper>